<ion-view title="{{user.displayName}}">
    <ion-content has-header="true">
        
        
        <div class="proImgBox">
            <img src="{{user.cachedUserProfile.picture.data.url}}">
        </div>

        <div class="proFssBox surYellow">
            <h4>{{user.displayName}}</h4>
            <h4>{{user.csUser.cancerType}}</h4>   
            <h5>{{user.csUser.yoot}} years out of treatement</h6>
        </div>

        <!-- <h6>{{user.csUser.type}}</h6> -->
        
        <div class="proTextBox">
            <h5>{{user.csUser.location}} | {{user.csUser.birthday}}</h5>
            <h5 class="theBio">{{user.csUser.bio}}</h5>
        </div>


        <a class="proMsgButton csRed">
          +
        </a>

        <!-- <div ng-switch="user.provider">
            <img ng-switch-when="facebook" ng-src="{{user.thirdPartyUserData.picture.data.url}}"/>
            <img ng-switch-when="google" ng-src="{{user.thirdPartyUserData.picture}}" height="100" width="100"/>
            <img ng-switch-when="twitter" ng-src="{{user.thirdPartyUserData.profile_image_url}}"/>
        </div>    -->
    </ion-content>
</ion-view>