<ion-view title="Fss" >
    <ion-content has-header="true" padding="true" class="login">
        <h4>Welcome, {{csUser.userName}}</h4>
        <h3>Are you a...</h3>
        <a class="button button-positive large" ng-click="fss('fighter')">
            fighter
        </a>

        <a class="button button-energized large" ng-click="fss('survivor')">
            survivor
        </a>

        <a class="button button-balanced large" ng-click="fss('supporter')">
            supporter
        </a>

    </ion-content>
</ion-view>