<ion-view title="supporterCreate">
	<ion-content>
		<label class="item item-input">
  			<span class="input-label">Name</span>
  			<input type="text" ng-model="csUser.userName">
		</label>
		<label class="item item-input">
  			<span class="input-label">Type</span>
  			<input type="text" ng-model="csUser.supporterType">
		</label>
		<label class="item item-input">
  			<span class="input-label">Cancer (optional)</span>
  			<input type="text" ng-model="csUser.cancerType">
		</label>
		<label class="item item-input">
			<span class="input-label">Birthday</span>
		  	<input type="date" ng-model="csUser.birthday">
		</label>
		<label class="item item-input">
  			<span class="input-label">Location</span>
  			<input type="text" ng-model="csUser.location">
		</label>
		<label class="item item-input">
  			<span class="input-label">Bio</span>
  			<input type="text" ng-model="csUser.bio">
		</label>
		<a class="button button-assertive" ng-click="supporterCreate()">done</a>
	</ion-content>
</ion-view>