<ion-view title="chat" >
  <ion-content class="chatBody padding" style="background: #ebebeb">
 
    <div ng-repeat="message in messages" class="bubble-container" ng-class="{left: userId !== message.senderId}" >
    		<div class="textBox">
      			{{message.text}}
      		</div>      			
    </div>
    
    <!-- <label class="item item-input">
  		<span class="input-label">Type Message</span>
  		<input type="text" ng-model="messageText">
	</label> -->


    <div class="row-chat">
        <input type="text" class="msgInput" ng-model="messageText" placeholder="Type your message" />
            <span>
            	<button class="button button-positive" ng-click="sendMessage(messageText)">Send</button>
            </span>
    </div>
  </ion-content>
</ion-view>



