<ion-view title="More">
  <ion-content class="padding">
   	<h3>General</h3>
	    <div class="list list-inset">
		    <a class="item item-icon-right" ng-click="goTo('tab.messages')">
		  		messages
		  		<i class="icon ion-chatbubbles"></i>
			</a>
			<a class="item item-icon-right" ng-click="goTo('tab.connections')">
		  		connections
		  		<i class="icon ion-person-stalker"></i>
			</a>
			<a class="item item-icon-right" ng-click="goTo('tab.floor')">
		  		floor
		  		<i class="icon ion-drag"></i>
			</a>
			<a class="item item-icon-right" ng-click="goTo('tab.explore')">
		  		explore
		  		<i class="icon ion-home"></i>
			</a>
		</div>
	<h3>Personal</h3>
		<div class="list list-inset">
			<a class="item item-icon-right" ng-click="goTo('profile')">
		  		profile
		  		<i class="icon ion-person"></i>
			</a>
			<a class="item item-icon-right">
		  		settings
		  		<i class="icon ion-ios7-gear"></i>
			</a>
			<a class="item">
		  		sign out
			</a>
		</div>
	<h3>Talk to Us</h3>
		<div class="list list-inset">
			<a class="item item-icon-right" ng-click="goTo('profile')">
		  		email us!
		  		<i class="icon ion-email"></i>
			</a>
			<a class="item item-icon-right">
		  		like us on Facebook!
		  		<i class="icon ion-social-facebook"></i>
			</a>
			<a class="item item-icon-right">
		  		follow us on Twitter!
		  		<i class="icon ion-social-twitter"></i>
			</a>
		</div>
  </ion-content>
</ion-view>
